@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(79, 79, 79)
}
body {
    border: 2px solid red;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 760px;
}

.main-container {
    background-color: rgb(203, 203, 203);
    border-radius: 20px;
    width: 420px;
    height: 650px;
    box-shadow: 5px 5px 0px gray;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;

}
.upper-sec {
    flex: 2;
    border: 2px solid aqua;
    display: flex;
    padding: 10px;
}
.display {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: 1px solid grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    padding: 5px;
}
.upper-display, .lower-display {
    flex: 1;
    display: flex;
    justify-content: end;
    padding: 7px;
}
.upper-display{
    border: 2px solid blue;
    align-items: flex-start;
}
.lower-display {
    border: 2px solid red;
    align-items: flex-end;
}
.lwr-fd, .upr-fd {
    font-size: 30px;
    margin: 0px;
}

.lower-sec {
    flex: 5;
    border: 2px solid blue;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;

    font-size: 50px;
    align-items: flex-start;
    gap: 4%;
    justify-content: center;
}

.btn {
    background-color: whitesmoke;
    user-select: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 3px 3px grey;
    transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
    -webkit-transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
    -ms-transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
    -o-transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}


.btn:hover{
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px gray;
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -o-transform: translate(-1px, -1px);
}
.btn:active{
    background-color: white;
    box-shadow: 1px 1px gray;
    transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
}

#ce, #ac {
    width: 152px;
    color: white;
    background-color: rgb(235, 77, 77);
}

#plus, #minus, #dvd, #times {
    color: rgb(64, 64, 64);
    background-color: rgb(252, 207, 71);
}


.btn-placeholder {
    width: 70px;
    height: 70px;
}

